// PADDING
.p_8 {
  padding: 0.5rem;
}

.p_16 {
  padding: 1rem;
}

.p_20 {
  padding: 1.25rem;
}

// PADDING Y
.py_8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

// PADDING Y X
.py_16_px_14 {
  padding: 1rem 0.85rem !important;
}

.py_16_px_24 {
  padding: 1rem 1.5rem !important;
}

.py_8_px_40 {
  padding: 0.5rem 2.5rem;
}

.py_24_px_32 {
  padding: 1.5rem 2rem;
}

// MARGIN

// MARGIN TOP
.mt_4 {
  margin-top: 0.25rem;
}

.pb_19 {
  padding-bottom: 1.18rem;
}

.pt_25 {
  padding-top: 1.5rem;
}

.pt_58 {
  padding-top: 3.625rem;
}

.pl_25 {
  padding-left: 1.5rem;
}

.pr_25 {
  padding-right: 1.5rem;
}

// MARGIN
.mx_auto {
  margin: 0 auto;
}

// MARGIN TOP
.-mt_8 {
  margin-top: -0.5rem;
}

.mt_2 {
  margin-top: 2px;
}

.mt_8 {
  margin-top: 0.5rem;
}

.mt_12 {
  margin-top: 0.75rem;
}

.mt_16 {
  margin-top: 1rem;
}

.mt_22 {
  margin-top: 1.37rem;
}

.mt_24 {
  margin-top: 1.5rem;
}

.mt_30 {
  margin-top: 1.87rem;
}

.mt_35 {
  margin-top: 2.1rem;
}

.mt_58 {
  margin-top: 3.625rem;
}

.mt_64 {
  margin-top: 4rem;
}

.mt_32 {
  margin-top: 2rem;
}

// MARGIN BOTTOM

.mb_8 {
  margin-bottom: 0.5rem;
}

.mb_12 {
  margin-bottom: 0.75rem;
}

.mb_16 {
  margin-bottom: 1rem;
}

.mb_20 {
  margin-bottom: 1.25rem;
}

.mb_24 {
  margin-bottom: 1.5rem;
}

.mb_30 {
  margin-bottom: 1.87rem;
}

.mb_35 {
  margin-bottom: 2.1rem;
}

.mb_64 {
  margin-bottom: 4rem;
}

// MARGIN RIGHT
.mr_24 {
  margin-right: 1.5rem;
}

.mr_28 {
  margin-right: 1.75rem;
}

// MARGIN LEFT
.ml_auto {
  margin-left: auto;
}

.ml_24 {
  margin-left: 1.5rem;
}

.ml_29 {
  margin-left: 1.8rem;
}

// MARGIN Y
.-my_25 {
  margin: 0 -1.5rem;
}

// MARGIN X
.-mx_24 {
  margin: 0 -1.5rem;
}

// MARGING Y X

// WIDTH

.w_15 {
  width: 15% !important;
}

.w_100 {
  width: 100% !important;
}

.w_max_content {
  width: max-content;
}

// HEIGHT

.h_1 {
  height: 1px;
}

.h_max_content {
  height: max-content;
}

.mh_100 {
  min-height: 100% !important;
}
